body {

	font-family: 'Open Sans', sans-serif;
	
}

.outer {
	max-width: 750px;
	margin: 0 auto;
}

.desc {
	margin: 10px;
}

h1 {
	text-align: center;
}

table {
	width: 100%;
	border: 1px solid #aaa;
    border-collapse: collapse;
    border-spacing: 0px;
    border-radius: 10px;
}

tr {
	border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0px;
}

thead tr th {
	text-align: center;
}

tr th {
	/*height: 50px;*/
	text-align: left;
	padding: 10px;
}

td {
	padding: 10px;
}

.small {
	font-size: 14px;
	font-weight: 300;
}

.requirement {
	width: 50%;
}
.status {
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
}

.pass {
	background-color: #5CB85C;

}

.fail {
	background-color: #ff0000;
}

.neutral {
	background-color: #aaa;
}

#configure {
	margin: 10px 0;
	padding: 10px 10px;
	text-align: center;
	border: 1px dotted #000;
}

button {
  border-radius: 10px;
  color: #ffffff;
  background: #3498db;
  padding: 10px 5px;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  text-align: center;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}